@model Application.Dtos.ReaderDto

<h2>Books borrowed by @Model.Name</h2>


<table class="table table-hover table-striped align-middle text-center shadow">
    <thead class="table-dark">
        <tr>
            <th>Book Title</th>
            <th>Date of loan</th>
            <th>Date of return</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            var isDelayed = !book.ReturnDate.HasValue && book.PickUpDate < book.PickUpDate.AddMonths(1);

            var rowClass = isDelayed ? "table-danger" : "";
            <tr class="@rowClass">
                <td style="">@book.Title</td>
                <td>@book.PickUpDate.ToString("dd.MM.yyyy")</td>
                <td>@(book.ReturnDate?.ToString("dd.MM.yyyy"))</td>
            </tr>
        }
    </tbody>
</table>
